tailwind
fastapi
sqlalchemy
uvicorn
jinja2
nodejs
passlib
bcrypt==4.0.1
cryptography
python-multipart
dnspython
cryptography
liboqs-python==0.14.1
psycopg2-binary
psycopg2-binary
python-jose[cryptography]
requests
redis
itsdangerous
